CSS
body
{
	background:#F0F8FF;
}
#header
{
	background: hotpink;
	width: 100%;
	float:left;
}
#naglowek 
{
	background-image:linear-gradient(to right,pink,yellow,pink);
    color:Salmon;
	font-size: 3em;
	text-align: center;
}
ul {
float: right;
width: 100%;
padding: 0;
margin: 0;
list-style: none;
}

li a {
display: block;
float: right;
text-align: center;
font-size: 1.2em;
width: 130px;
text-decoration: none;
color: black;
background-color: pink;
padding: 10px 15px;
margin: 0px 1px 1px 0px;
border: 1px solid navy;
border-radius: 3px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
box-shadow: 0px 2px 3px gray;
-moz-box-shadow: 0px 2px 3px gray;
-webkit-box-shadow: 0px 2px 3px gray;
}

li a:hover {
color: black;
background:black;
border: 1px solid ;
}
#tresc
{
	background-image:linear-gradient(to right,pink,white,pink);
	text-align: center;
	font-size: 1.5em;
}


}
#stopka
{
		background:#9ACD32;
		text-align:center;
}

Piotr Niewiatowski